* {
    
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 20px;
}

.container {
    width: 100%;
   height: 95vh;

    border: 4px solid black;

    display: flex;

    justify-content: center;
    align-items: center;
}

.box {
    width: 125px;
    height: 50px;

    border: 4px solid #f2b01e;

    padding: 2px;

    font-size: 14px;
}